<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <title>Exp</title>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('exp') }}">Exp</a>
            <a href="{{ url_for('tech') }}">Tech</a>
            <a href="{{ url_for('project') }}">Projects</a>
        </nav>
        <h1>Experiences</h1>
        <table>
            {% for exp in recent_exp %}
                <tr>
                    <td>{{ exp[0] }}</td>
                    <td>{{ exp[1] }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>