<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <title>Portfolio</title>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('exp') }}">Exp</a>
            <a href="{{ url_for('tech') }}">Tech</a>
            <a href="{{ url_for('project') }}">Projects</a>
        </nav>
        <h1>Index</h1>
    </body>
</html>